"*":
  "color-picker":
    preferredFormat: "HEX"
  core:
    allowPendingPaneItems: false
    disabledPackages: [
      "spell-check"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "limited"
    themes: [
      "chameleon-ui"
      "triad-light-syntax"
    ]
  date:
    dateFormat: "YYYY-MM-DD"
  editor:
    fontSize: 16
    showIndentGuide: true
  "exception-reporting":
    userId: "f8817c57-018d-4f63-b862-30853b8b7c15"
  "file-icons":
    coloured: false
  github: {}
  "linter-eslint":
    autofix:
      ignoreFixableRulesWhileTyping: true
    global:
      globalNodePath: "/Users/rvantonisse/.nvm/versions/node/v8.12.0"
  "linter-ui-default":
    showPanel: true
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  "prettier-atom":
    prettierEslintOptions:
      prettierLast: true
    useEslint: true
    useStylelint: true
  "theme-switch":
    profiles: [
      "chameleon-ui triad-light-syntax"
      "chameleon-ui triad-dark-syntax"
    ]
  welcome:
    showOnStartup: false
".git-config.source":
  editor:
    tabLength: 4
".json.source":
  editor:
    tabLength: 4
".json.source.twig":
  editor:
    tabLength: 4
